header {
  padding: 4.3rem 0 4.3rem 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitenav__menu {
  display: flex;
  gap: 3.3rem;
}

.sitenav__item {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: $gray;
  letter-spacing: 0.92;
}

.navbar-toggle {
  display: none;
  border: none;
  background: none;
}

.sitenav__item:hover {
  color: $dark-grey-blue;
}

.content {
  max-width: 1280px;
  width: 100%;
  height: 60rem;
  margin-bottom: 20rem;
  padding: 11.7rem 2rem 11.6rem 8.5rem;
  background-image: url(../images/home/desktop/image-hero-coffeepress.jpg);
  background-position: center;
  border-radius: 1rem;
}

.content__paragraph {
  max-width: 493px;
  font-size: 7.2rem;
  line-height: 7.2rem;
  font-weight: 900;
  font-family: $secondary-font;
  color: $light-cream;
}

.content__text {
  max-width: 435px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: $main-font;
  color: $light-cream;
  opacity: 80%;
  padding: 3.2rem 0 7.1rem 0;
}

.content-1 {
  padding: 0 5rem;
}

.content-1__body {
  display: flex;
  gap: 3rem;
  align-items: center;
  position: relative;
  bottom: 6rem;
}

.content-1__box {
  text-align: center;
}

.content-1__box__paragraph {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-family: $secondary-font;
}

.content-1__box__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-family: $main-font;
  color: $gray;
}

.content-1__box__img {
  position: relative;
  left: 2rem;
  margin-bottom: 7rem;
}

.content-backround {
  max-width: 1111px;
  width: 100%;
  height: 196px;
}
