$dark-cyan: #0e8784;
$dark-grey-blue: #333d4b;
$pale-orange: #fdd6ba;
$light-cream: #fefcf7;
$gray: #83888f;
$main-font: "Barlow", sans-serif;
$secondary-font: "Fraunces", sans-serif;
$hover-color: #66d2cf;
